<div class="container">

    <form [formGroup]="myForm" (submit)="send()">
        <div class="row mt-4">
            <div class="col">
                <label>Select Category</label>
                <select class="form-control" aria-placeholder="Enter Category" formControlName="mySelect">
                    <option   *ngFor="let opt of categories" [value]="opt.categoryId">{{opt.categoryName}}</option>
                </select>
            </div>

            <div class="col">
                <label>Product Name</label>
                <input type="text" class="form-control" placeholder="Enter Product Name" formControlName="name">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <label>Product Type</label>
                <input type="text" class="form-control" placeholder="Enter Product Type" formControlName="productType">

            </div>

            <div class="col">
                <label>Product Price</label>
                <input type="number" class="form-control" placeholder="Enter Product Price" formControlName="productPrice">
            </div>
        </div>


        <div class="row mt-4">
            <div class="col">
                <label>Product Description</label>
                <input type="text" class="form-control" placeholder="Enter Product Description" formControlName="productDescription">

            </div>

            <div class="col">
                <label>Product Image</label>
                <input type="text" class="form-control" placeholder="Enter Product Image" formControlName="productImage">
            </div>
        </div>


        <div class="row mt-4">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>


        </div>
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight"><button class="btn btn-primary ps-5 pe-5 pt-2 pb-2">+ADD</button></div>

        </div>



    </form>





</div>